* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;

    /* Image and color overlay */
    background: url('../../../assets/bg.jpg') rgba(0, 26, 51, 0.55);
    /* Color overlay config */
    background-blend-mode: multiply;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    
    overflow-x: hidden;
}

#default-header {
    text-align: center;
    font-size: 2rem;
    height: 24vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 10vh;
}

main {
    position: absolute;
    top: 26vh;
    left: 0;
    width: 100%;
}

input {
    position: relative;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 1.1vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 2vh 2.5vw;
    transition: .4s;
    height: 8vh;
    z-index: 1 ;
}

input:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

input:focus {
    box-shadow: 0 0 0 .15vw rgb(46, 105, 129);
}

#suggestions {
    position: absolute;
    background: #0f0f0f;
    color: #fff;
    list-style-type: none;
    top: 8vh;
    width: 12vw;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-bottom: 1vh;
    z-index: 1;
    display: none;
}

#suggestions.active {
    display: block;
}

#suggestions.active li {
    margin-top: 1vh;
    padding: 1.2vh 1.6vw;
    text-transform: capitalize;
    font-size: 1.2rem;
}

#suggestions.active li:hover {
    cursor: pointer;
    background: #2f2f2f;
}

#content #tries * {
    margin-bottom: 1vh;
}

#content #tries .character {
    display: flex;
    gap: 1vw;
}

#content #tries .character * {
    width: 8vw;
    height: 14vh;

    border-radius: 12%;
    border: 2px solid #fff;
}

#content #tries .character div {
    color: #fff;
    background: rgba(255, 0, 0, 0.8);
    font-size: 1.2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content #tries .character .half {
    background: #FCA311;
}

#content #tries .character .right {
    background: rgba(78, 140, 49);
}